<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Success page Form</title>
        
        <meta charset="utf-8">

        <style>
            body{
                background: #33475b;
                color: white;
            }
        </style>

    </head>

    <body>

        <h1> Changes Made </h1>
        
        <form action="/form" method="POST">
        
            <button type="submit"><a href="http://127.0.0.1:5000/">Go Back</a></button>

        </form>

    </body>
</html>